/* General Page Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

h1 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

p {
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

input, textarea {
  margin-bottom: 15px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

button:hover {
  background-color: #0056b3;
}

/* Header Styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 20px;
}

/* Navbar Styles */
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
  color: #007bff;
  transform: scale(1.1);
  display: inline-block;
}

/* Carousel Styles */
#hero-carousel {
  padding-top: 5vh;
}

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 50%;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  transform: translateY(-50%);
  height: 0;
}

.c-item {
  height: 73vh; 
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 10rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.display-1 {
  font-size: calc(1.625rem + 4.5vw);
  font-weight: 300;
  line-height: 1.2;
  color: #fff;
}

.text-uppercase {
  color: #fff;
}

/* About Page Styles */
.AboutPage {
  padding-top: 10vh;
}

blockquote {
  font-size: 24px;
  font-style: italic;
  margin: 20px 0;
  padding: 10px;
  border-left: 3px solid #ccc;
  color: #555;
}

/* Contact Page Styles */
.contact-form {
  max-width: 500px;
  width: 100%;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 10vh;
}

.btn-contact {
  margin-bottom: 15px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-contact:hover {
  background-color: #036dde;
  transform: scale(1.05);
}

/* Footer Styles */
.footer-content {
  background-color: #ddd;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px 0px;
}

.menu, .social-icon {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social-icon__item, .menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 1.5rem;
  color: #171313;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1rem;
  color: #171313;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #171313;
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0 10px;
}
