# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
LICENSE.txt
.idea/workspace.xml
debug.log
.idea/vcs.xml
.idea/WebDev_Project_ILI.iml
.idea/modules.xml
/.idea
